
<div class="wrapper">
  <h1>Tombola</h1>


  <label>Los-Nummer eingeben: <input autofocus #box (keyup.enter)="onEnter(box.value); box.value = ''"></label>
  
  <h2 *ngIf="notFound">Los-Nummer {{notFound}} nicht gefunden!</h2>

  <ul>
    <li *ngFor="let item of tombolaItems">
      <table>
        <tr>
          <td colspan="2">
            <img src="assets/Bilder/{{item.image}}.JPG"><br/>
          </td>
        </tr>
        <tr>
          <td>
            Los:
          </td>
          <td>{{item.id}}</td>
        </tr>
        <tr>
          <td>
            Titel:
          </td>
          <td>
            {{item.title}}
          </td>
        </tr>
      </table>
    </li>
  </ul>
</div>
