:host, :host input {
  font-size: 18px;
  font-family: sans-serif;
}

:host {
  font-weight: bold;
}

:host input {
  padding: 4px 15px 3px;
  // border-radius: 3px;
}
h1 {
  position: fixed;
  bottom: 0;
  right: 20px;
  z-index: -1;
  color: grey;
  font-size: 100px;
  margin: 0;
}
h2 {
  color: red;
}
h3 {
  margin: 5px 0;
}
button {
  margin-left: 30px;
}

ul {
  list-style: none;
}
li {
  margin: 5px;
  float: left;
  padding: 10px;
  background: white;
  border-radius: 6px;
  div {
    font-size: 14px;
    color: gray;
    span.white {
      color: white;
    }
  }
}
img {
  padding: 10px;
  width: 180px;
}
